.banner {
    width: 100%;
    position: relative;
}

.banner .banner_img {
    width: 100%;
    height: auto;
}

.banner_btn {
    position: absolute;
    bottom: 80px;
    left: 160px;
}

.banner_btn button {
    background-color: var(--brow);
    border-radius: 30px;
    border: none;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}


.banner_btn img {
    padding: 10px 10px 10px 20px;
}

.banner_btn span {
    font-size: var(--heading2);
    color: var(--brow2);
    background-color: var(--yellow);
    padding: 10px;
    font-weight: 600;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    font-family: "Montserrat", sans-serif;
}

/* popular categories */
.popular_categories {
    width: 90%;
    margin: 30px auto;
}

.popular_categories_title {
    text-align: center;
}

.popular_categories_title span {
    color: var(--red);
    font-size: var(--body);
    font-weight: 600;
}

.popular_categories_title h2 {
    font-size: var(--heading1);
    font-weight: 600;
    font-family: "Inter", sans-serif;
}

.popular_categories_list {
    margin: 70px 0;
    display: flex;
    justify-content: space-between;
}

.popular_categories_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 4px 6px 2px #e2e2e2cc;
    width: 15%;
    height: 220px;
    justify-content: center;
    border-radius: 15px;
    gap: 10px;
}

.popular_categories_item .img_wapper {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--yellow2);
    position: relative;
}

.popular_categories_item .img_wapper img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*  daily best sells */

.daily_best_sells {
    width: 90%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.daily_best_sells_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.daily_best_sells_filter ul {
    display: flex;
    list-style: none;
    padding: 0;
}

.daily_best_sells_filter li {
    margin-right: 20px;
    cursor: pointer;
}

.daily_best_sells_filter li.active {
    color: var(--green);
}

.daily_best_sells_list {
    display: grid;
    grid-template-columns: 28% 17% 17% 17% 17%;
    justify-content: space-between;
}

.daily_best_sells_banner {
    width: 100%;
    /* height: 300px; */
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}

.daily_best_sells_banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.daily_best_sells_banner-btn {
    position: absolute;
    top: 300px;
    left: 50px;
}

.product_btn_buy {
    background-color: var(--red);
    color: var(--white);
    border-radius: 5px;
    border: none;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    padding: 10px 10px;
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
}

.daily_best_sells_banner-btn button:hover {
    background-color: var(--redlight);
}

.daily_best_sells_banner-btn img {
    width: 10px;
    height: 10px;
    filter: invert(0);
}

.daily_best_sells_item {
    width: 100%;
    /* height: 100%; */
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    padding: 10px;
    border: 1px solid #e2e2e2;
    border-radius: 15px;
    box-sizing: border-box;
    gap: 10px;
}

.daily_best_sells_item img {
    width: 100%;
    /* height: 200px; */
    border-radius: 15px;
    overflow: hidden;
    object-fit: cover;
}

.product_name {
    font-size: var(--body);
    font-weight: 600;
    font-family: "Quicksand", sans-serif;
    color: var(--darkblue);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.product_rating {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
}

.product_rating img {
    width: 15px;
    height: 15px;
}

.product_price {
    font-size: var(--body);
    font-weight: 600;
    color: var(--green);
}

.daily_best_sells_item p {
    font-size: 12px;
    font-weight: 400;
}

.daily_best_sells_item button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--red);
    color: var(--white);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    padding: 10px 10px;
    font-size: var(--body);
}

.daily_best_sells_item button:hover {
    background-color: var(--redlight);
}

/* special dishes */
.special_dishes {
    width: 90%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.special_dishes_title span {
    font-size: var(--body);
    font-weight: 600;
    color: var(--red);
}

.special_dishes_title-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.special_dishes-btn button {
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 99px;
    margin-right: 30px;
}

.right_icon {
    rotate: 180deg;
}

.special_dishes-btn button:hover {
    background-color: var(--red);
    transition: 0.5s;
}

.special_dishes-btn button:hover img {
    filter: brightness(0) invert(1);
}

.special_dishes-btn button.active {
    background-color: var(--red);
}

.special_dishes-btn button.active img {
    filter: brightness(0) invert(1);
}

.special_dishes_list {
    display: grid;
    /* justify-content: space-around; */
    grid-template-columns: 30% 30% 30%;
    gap: 3%;
    padding: 10px;
}

.special_dishes_item {
    padding: 20px;
    box-shadow: 0px 9px 15px 2px #0000001c;
    border-radius: 10px;
    opacity: 1;
    transform: translateX(0);
    transition: opacity 0.4s, transform 0.4s;
    animation: fadeInUp 0.4s;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateX(30px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.wishlist_icon {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--red);
    width: 50px;
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 15px 0 15px;

}

.wishlist_icon div {
    width: 20px;
    height: 20px;
    filter: brightness(0) invert(1);
    background-image: url('/images/icon/Heart.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.wishlist_icon:hover div {
    width: 20px;
    height: 20px;
    background-image: url('/images/icon/Heart-active.svg');
    background-size: cover;
    transition: 0.2s ease-in-out;
    background-repeat: no-repeat;
    background-position: center;
}

.img_wapper {
    width: 100%;
    text-align: center;
}

.special_dishes_item h3 {
    font-size: var(--body);
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.special_dishes_item .img_wapper img {
    width: 100%;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
}

.special_dishes_item span {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

/* deals of the day */

.deals {
    width: 90%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 150px;
}

.deals_list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
}

.deals_item {
    position: relative;
}

.deals_item .product_image {
    width: 100%;
    border-radius: 10px;
}

.deals_item_container {
    position: absolute;
    background-color: var(--white);
    width: 85%;
    left: 50%;
    transform: translatex(-50%);
    top: 200px;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 9px 20px 2px #0000001c;
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* align-items: center; */
    justify-content: center;
}

.deals_item_container .deals_btn {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.deals_item_container .deals_btn button {
    background-color: var(--red);
    color: var(--white);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    padding: 8px 15px;
    font-size: var(--body);
    display: flex;
    align-items: center;
    gap: 5px;
}

.deals_item_container .deals_btn button img {
    filter: brightness(0) invert(1);
}

.deals_item_container .deals_btn button p {
    font-size: 14px;
}


.deals_item_container .deals_btn button:hover {
    background-color: var(--redlight);
}

/* FAQ */

.faq {
    width: 80%;
    margin: 30px auto;
    display: flex;
    gap: 30px;
}

.faq .faq_left {
    width: 580px;
}

.faq .faq_left img {
    width: 100%;
    border-radius: 15px;
}

.faq .faq_right {
    width: 70%;
}

.faq .faq_right h2 {
    font-size: var(--heading1);
    font-weight: 700;
}

.faq .faq_list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.faq .faq_list .faq_item {
    display: flex;
    gap: 20px;
    align-items: center;
    background-color: var(--white);
    box-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0.045);
    border-radius: 15px;
    padding: 20px;
}

.faq .faq_list .faq_item .faq_item_icon {
    padding: 10px;
    background-color: var(--white);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 6px 2px rgba(0, 0, 0, 0.045);
}

.faq .faq_list .faq_item .faq_item_icon img {
    width: 46px;
    height: 46px;
}

.faq .faq_list .faq_item .faq_item_text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.faq .faq_list .faq_item .faq_item_text h3 {
    font-size: var(--heading2);
    font-weight: 600;
}

/* essential_promo */

.essential_promo {
    width: 90%;
    margin: 30px auto;
    position: relative;
}

.essential_promo img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    z-index: 1;
}

.essential_promo_content {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    z-index: 2;
    width: 550px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    padding: 20px;
}

.essential_promo_content h2 {
    font-size: var(--heading1);
    font-weight: 600;
    color: var(--white);
}

.essential_promo_content .essential_promo_inp {
    position: relative;
    width: 100%;
}

.essential_promo_content .essential_promo_inp input {
    width: 80%;
    padding: 15px 135px 15px 20px;
    border-radius: 30px;
    border: none;
    outline: none;
    font-size: 14px;
}

.essential_promo_content .essential_promo_inp button {
    position: absolute;
    right: 120px;
    border: none;
    background-color: var(--red);
    color: var(--white);
    height: 100%;
    width: 110px;
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    border-radius: 30px;
}

.essential_promo_content .essential_promo_inp button:hover {
    background-color: var(--redlight);
    transition: 0.3s ease-in-out;
}

/* ancillary services */

.ancillary_services {
    width: 90%;
    margin: 30px auto;

}

.ancillary_services_list {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    gap: 1px;
}

.ancillary_services_item {
    display: flex;
    align-items: center;
    background-color: #F4F6FA;
    padding: 10px;
    /* gap: 0 20px; */
    column-gap: 10px;
    border-radius: 10px;
}

.ancillary_services_item img {
    width: 50px;
    height: 50px;
}

.ancillary_services_item_text {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 14px;
}